@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#error-container {
    /* margin-top:10px;
    position: fixed; */
    position:fixed; 
    z-index:100; 
    border-radius:0px
}

.container-login{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 63, 63);
}

.wrap-login{
    width: 100%;
    background: #ffff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
}

.login-form{
    width: 560px;
    min-height: 100vh;
    display: block;
    background: #ffff;
    padding: 55px 55px;
}

.login-form-title{
    width: 100%;
    display: block;
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    padding-bottom: 32px;
}
.wrap-input{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    height: 72px;
    border: 1px solid #ededed;
    border-radius: 10px;
    padding: 0 24px;
    margin-bottom: 10px;
}

input{
    outline: none!important;
    border: none!important;
}

input.input-form{
    height: 100%;
    transition: all .4s;
}

.input-form{
    display: block;
    width: 100%;
    background: 0 0;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #555;
    line-height: 1.2;
    font-size: 18px;
}

.container-login-btn-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    outline: none!important;
    border: none;
}

.login-btn-form a{
    color: #ffff;
    text-decoration: none;
}

.login-btn-form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 80%;
    height: 56px;
    background: #F54952;
    color: #ffff;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: all .4s;
    text-decoration: none;
}

.login-more{
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.login-more::before{
    content: "";
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}